*{
    margin:0;
padding:0;
}


body{
height:100vh;
place-items:center;
display:grid;
background-color: rgb(0,0,0);
}

button{
font-size:16px;
padding: 16px 32px;
border-radius:32px;
border:2px solid rgb(255,255,255);
background-color:transparent;
color:rgb(255,255,255);
outline:none;
cursor:pointer;
letter-spacing: 1.3px;
}